<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <h3>Add Card to this deck</h3>
  <form class="" action="/flipcard/deck/card/add" method="post">
    <label for="front">Front</label>
    <input type="text" name="front" value="">
    <label for="back">Back</label>
    <input type="text" name="back" value="">
    <input type="hidden" name="deckId" value="<%= deck['_id'] %>">

    <button type="submit" class="btn btn-primary">Add Card</button>
  </form>

  <% if(locals.deck.cards) { %>
    <h3>Cards</h3>

    <div class="choice">

        <% locals.deck.cards.forEach( (card) => { %>
          <div class="card">
            <div class="card-block">
              <p> <strong>FRONT:</strong> <%= card.front %></p>
              <p> <strong>BACK:</strong> <%= card.back %> </p>
              <a href="/flipcard/deck/card/update/<%= card['_id'] %>?deck=<%= deck['_id'] %>"><button class="btn btn-default">Edit Card</button></a>
              <a href="/flipcard/deck/card/delete/<%= card['_id'] %>?deck=<%= deck['_id'] %>"><button class="btn btn-warning">Delete Card</button></a>
            </div>
          </div>

        <% }) %>

    </div>

  <% } %>

  <% if(locals.card) { %>
    <form class="" action="/flipcard/deck/card/update/<%= card['_id'] %>?deck=<%= deck['_id'] %>" method="post">
      <label for="front">Front</label>
      <input type="text" name="front" value="<%= locals.card.front %>">
      <label for="back">Back</label>
      <input type="text" name="back" value="<%= locals.card.back %>">
      <input type="hidden" name="deckId" value="<%= deck['_id'] %>">

      <button type="submit" class="btn btn-primary">Update Card</button>
    </form>
  <% } %>


</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
