<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <h1>Edit a Deck</h1>

  <p><%= deck %></p>

  <h3>Add Card to this deck</h3>
  <form class="" action="/flipcard/deck/card/add" method="post">
    <label for="front">Front</label>
    <input type="text" name="front" value="">
    <label for="back">Back</label>
    <input type="text" name="back" value="">
    <input type="hidden" name="deckId" value="<%= deck['_id'] %>">

    <input type="submit" name="" value="Add Card">
  </form>

  <% if(locals.deck.cards) { %>
    <h3>Cards</h3>
    <ul>
      <% deck.cards.forEach( (card) => { %>
        <li>
          <%= card %>
          <a href="/flipcard/deck/card/update/<%= card['_id'] %>?deck=<%= deck['_id'] %>">Edit Card</a>
          <a href="/flipcard/deck/card/delete/<%= card['_id'] %>?deck=<%= deck['_id'] %>">Delete Card</a>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <% if(locals.card) { %>
    <form class="" action="/flipcard/deck/card/update/<%= card['_id'] %>?deck=<%= deck['_id'] %>" method="post">
      <label for="front">Front</label>
      <input type="text" name="front" value="<%= locals.card.front %>">
      <label for="back">Back</label>
      <input type="text" name="back" value="<%= locals.card.front %>">
      <input type="hidden" name="deckId" value="<%= deck['_id'] %>">

      <input type="submit" name="" value="Update Card">
    </form>
  <% } %>


</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
