<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <% if( locals.user ) { %>

    <div class="choice">
      <p><a href="/flipcard/create-deck">Create a deck</a></p>
    </div>

    <div class="choice">
    <p>Study a deck</p>

    <% if( locals.decks ) { %>

        <% locals.decks.forEach( (deck) => { %>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><%= deck.description %></h4>
              <% if( deck.cards.length > 0 ) { %>
                <p><a href="/flipcard/deck/study/<%= deck['_id'] %>" class="card-link">Study (<%= deck.cards.length %>)</a></p>
              <% } %>
              <p><a href="/flipcard/deck/edit/<%= deck['_id'] %>" class="card-link">
              Edit
              </a></p>
             <p><a href="/flipcard/deck/delete/<%= deck['_id'] %>" class="card-link">
             Delete
             </a></p>
            </div>
          </div>

        <% }) %>
    <% } %>

    </div>


    <div class="choice">

    <p><a href="/auth/logout">Logout</a></p>

    </div>

  <% } else { %>
    <p><a href="/auth/login">Login</a></p>
    <p><a href="/auth/register">Register</a></p>
    <% } %>

</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
