<% include ./partials/head %>
<% include ./partials/header %>

<div class='flipcard-app'>

  <h1>Welcome!</h1>

  <% if( locals.user ) { %>
    <p><a href="/auth/logout">Logout</a></p>
    <p>Study a deck</p>

    <% if( locals.decks ) { %>
      <ul>
        <% locals.decks.forEach( (deck) => { %>
          <li> <a href="/flipcard/deck/study/<%= deck['_id'] %>">
                <%= deck.description %>
                </a>
          </li>
        <% }) %>
      </ul>
    <% } %>


    <p><a href="/flipcard/create-deck">Create a deck</a></p>
    <p>Edit a deck</p>

    <% if( locals.decks ) { %>
      <ul>
        <% locals.decks.forEach( (deck) => { %>
          <li> <a href="/flipcard/deck/edit/<%= deck['_id'] %>">
                <%= deck.description %>
                </a>
               <a href="/flipcard/deck/delete/<%= deck['_id'] %>">
               Delete
               </a>
          </li>
        <% }) %>
      </ul>
    <% } %>


  <% } else { %>
    <p><a href="/auth/login">Login</a></p>
    <p><a href="/auth/register">Register</a></p>
    <% } %>

</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
