<% include ./partials/head %>
<% include ./partials/header %>

    <div class='flipcard-app'>

        <div class="stage">
          <div class="flashcard">
            <div class="front">
              <p><%= card.front %></p>
            </div>
            <div class="back">
              <p><%= card.back %></p>
            </div>
          </div>
        </div>

        <div class="assessment">
          How did you do?
          <a href="/flipcard/card/rating?deckId=<%= deckId %>&cardId=<%= card['_id']%>&rating=easy">
            <button class="btn btn-default" type="button" name="button">Easy</button>
          </a>
          <a href="/flipcard/card/rating?deckId=<%= deckId %>&cardId=<%= card['_id']%>&rating=difficult">
            <button class="btn btn-default" type="button" name="button">Difficult</button>
          </a>
          <a href="/flipcard/deck/study/<%= deckId %>">
            <button class="btn btn-default" type="button" name="button">Skip</button>
          </a>
        </div>

        <% if( locals.card.history.length > 0 ) { %>
          <div class="history">
            <table class="table">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Rating</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
              <% card.history.forEach( (rating) => { %>
                <tr>
                  <td><%= rating.user %></td>
                  <td><%= rating.outcome %></td>
                  <td><%= rating.date %></td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        <% }%>

    </div>

<script>
let card = document.querySelector('.flashcard');
card.addEventListener('click', (e)=> {
  console.log(e);
  card.classList.toggle('flipped');
});
</script>

<% include ./partials/footer %>
<% include ./partials/foot %>
